* {
    font-family: Verdana, sans-serif;   
}

/* navbar */
.header {
    background-color: #1F2937;

    padding: 40px 14% 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.logo-container {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links-container {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    display: flex;
    gap: 20px;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
}

/* header-content */
.header-content {
    display: flex;
    justify-content: space-between;
}

.header-text-container {
    width: 500px;
}
.header-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.header-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.header-image {
    width: 400px;
    height: auto;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;

    padding: 8px 36px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* section-1 */
.section-1 {
    padding: 20px 0px 80px;
}
.section-1-heading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    width: 180px;
    text-align: center;
}

.card-image-container {
    width: 160px;
    height: 160px;
    border: #3882F6 solid 4px;
    border-radius: 20px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 150px;
    height: auto;
}

.card-subtext {
    width: 160px;
    text-align: center;
    margin: 5px auto 0px;
    color: #1F2937;
    font-size: 18px;
}

/* section-2 */
.section-2 {
    background-color: #E5E7EB;
    padding: 60px 24% 60px;
}
.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
}

.quote-citation {
    margin: 0px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

/* section-3 */
.section-3 {
    padding: 60px 20%;
}

.sign-up {
    background-color: #3882F6;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    border-radius: 8px;
}

.sign-up-heading {
    font-size: 20px;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0px 0px 5px;
}
.sign-up-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.sign-up > button {
    background-color: none;
    border: 2px solid #F9FAF8;
}

/* footer */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
